:root {
  // Colors
  --color-white: hsl(0, 0%, 90%);
  --color-text-100: hsl(0, 0%, 7%);

  // Font families
  --font-family: "Poppins", sans-serif;

  // Font weights
  --font-weight-regular: 300;
  --font-weight-medium: 400;
  --font-weight-bold: 500;

  // Font sizes
  --font-size-text: 1.4rem;
  --font-size-title: 2.2rem;
}
