$sidenavWidth: 22rem;

.sidenav-container {
  height: 100%;

  .sidenav {
    width: $sidenavWidth;

    .links {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;

      &__features {
        margin-bottom: auto;
      }

      .link {
        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }

        &:hover {
          @extend .active;
        }
      }
    }
  }

  .top-bar {
    position: sticky;
    top: 0;
    z-index: 999;

    .logo {
      margin-right: 0.5rem;
    }
  }

  main {
    padding: 1.6rem;
  }
}

.icon {
  margin-right: 0.5rem;
}
.list-icon {
  padding: 4px;
  box-sizing: content-box;
}

.active {
  position: relative;
  background-color: var(--primary-lighter-color);

  &::before {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    width: 4px;
    background-color: var(--primary-color);
  }
}
